# .env 파일 무시
.env

# 저장소 관련 디렉토리 무시
storage/
plots/

# 파이썬 캐시 파일 무시
*.pyc

# Ignore all __pycache__ directories
__pycache__/
**/__pycache__/

# Ignore specific __pycache__ directories
pronun_model/__pycache__/
pronun_model/schemas/__pycache__/
pronun_model/routers/__pycache__/
pronun_model/utils/__pycache__/
pronun_model/utils/document_extract/__pycache__/

# Ignore all log files within logs/ directory
logs/*.log
logs/*.log.*
