fastapi
uvicorn[standard]
python-dotenv
pydub
fuzzywuzzy[speedup]
openai
python-multipart
python-json-logger
colorlog
ffmpeg-python
langchain-openai
langchain-community
pymongo
pytz
langchain-mongodb
faiss-cpu
pymongo